@import "_common";

.main_container {
	width: 100%;
	height: 100%;
	display: inline-block;
}
.header {
	@extend .container;
	text-align: center;
	background-color: $bg-color;
}
header {
	width: 1080px;
	height: auto;
	margin: 0 auto;
	display: inline-block;
	padding: 20px 0;
}
.logo {
	width: 30%;
	height: auto;
	display: inline-block;
	text-align: left;
	float: left;
	h1 {
		color: $color;
		font-family: $font;
		font-size: $font;
		img {
			width: 65px;
			height: 40px;
			vertical-align: middle;
		}
	}
}
.nav_btn {
	display: none;	
	float: right;
	width: 20%;
	height: auto;
}
.nav_span {
	cursor: pointer;
	float: right;
	margin-top: 12px; 
	span {
		display: block !important;
		width: 40px;
		height: 2px;
		margin-bottom: 8px;
		background-color: $color;
	}
}
.nav {
	width: 70%;
	height: auto;
	display: inline-block;
	text-align: right;
	float: left;
	ul {
		list-style: none;
		margin: 10px 0 0 0;
		li {
			display: inline-block;
			a {
				display: block;
				padding: 0 10px;
				color: $color;
				font-family: $font;
				font-size: 18px;
			}
		}
	}
}
.dropdown {
	position: relative;
}
.dropdown_content {
	display: none;
	position: absolute;
	width: 180px;
	margin: 0 !important;
}
.li_dropdown_container {
	background-color: #fff;
	padding: 5px 0;
	position: relative;
	margin-top: 10px;
}
.li_dropdown_container:after {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}
.dropdown_content li {
	width: 100%;
	margin: 10px 0;
	text-align: left;
}
.dropdown_content li a {
	color: #808080 !important;
}
.dropdown_content li a:hover {
	color: #333 !important;
}
.dropdown_content li a:hover {
	background-color: transparent !important;
}
.dropdown:hover .dropdown_content {
	display: block;
}
.top_header {
	@extend .container;
	text-align: center;
	background-color: $bg-color;
	h2 {
		color: $color;
		font-family: $font;
		font-size: 50px;
		font-weight: 100;
		margin: 120px 0 0 0; 
	}
}
.top_img {
	@extend .container;
	text-align: center;
	margin: 60px 0 30px 0;
	img {
		max-width: 840px;
		height: auto;
	}
}
.top_desk_block {
	@extend .container;
	width: 600px;
	text-align: center;
	h3 {
		color: $color;
		font-family: $font;
		font-size: 17px;
		font-weight: 100;
		line-height: 32px; 
	}
}
.get_started_btn {
	font-family: $font;
	display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: $bg-color;
    margin: 40px 0 60px 0;
}
.about_container {
	@extend .container;
	background-color: $color;
	text-align: center;
}
.item_container {
	width: 1080px;
	height: auto;
	display: inline-block;
	text-align: center;
	margin: 90px 0;
}
.about_item {
	width: 29%;
	height: auto;
	display: inline-block;
	padding: 0 20px;
	vertical-align: top;
	h3 {
		font-family: $font;
		font-size: 30px;
    	line-height: 40px;
    	font-weight: 300;
    	color: #8c3333;
    	margin-top: 30px;
	}
	p {
		margin-top: 10px;
		color: rgba(0, 0, 0, .5);
		font-size: 17px;
    	line-height: 32px;
    	font-weight: 100;
    	font-family: $font;
    	text-align: left;
	}
}
.big_img_container {
	@extend .container;
	text-align: center;
	background-color: #3a3e64;
	padding: 90px 0;
	img {
		max-width: 1040px;
		height: auto;
	}
}
.text_container {
	max-width: 700px;
    margin: 0 auto;
	h4 {
		color: #8c3333;
		font-size: 30px;
    	line-height: 40px;
    	font-weight: 100;
    	font-family: $font;
	}
	span {
		display: inline-block;
		margin-top: 10px;
		color: rgba(0, 0, 0, .5);
		font-size: 17px;
    	line-height: 32px;
    	font-weight: 100;
    	font-family: $font;
	}
 }
footer {
	@extend .container;
	background-color: $bg-color;
	text-align: center;
 }
 .footer_container {
 	@extend .container;
 	width: 1080px;
 	text-align: center;
 	margin-top: 90px;
 	h4 {
		color: #fff;
		font-size: 30px;
    	line-height: 40px;
    	font-weight: 100;
    	font-family: $font;
	}
	p {
		color: $color;
		font-family: $font;
		font-size: 17px;
		font-weight: 100;
		line-height: 32px; 
		margin-top: 10px;
	}
 }

 @media (max-width: 1110px) {
	header {
		width: 90%;
	}
	.item_container {
		width: 90%;
	}
	.footer_container {
		width: 90%;
	}
	.about_item {
		width: 27%;
	}
}
 @media (max-width: 900px) {
	.top_img img {
		max-width: 90%;
	}
	.big_img_container img {
		max-width: 90%;
	}
	.top_header h2 {
		padding: 0 25px;
	}
}
 @media (max-width: 765px) {
	.about_item {
    	width: 60%;
    	margin: 40px 0;
	}
	.top_desk_block {
		width: 80%;
	}
}
 @media (max-width: 575px) {
 	.header {
 		position: fixed;
 	}
 	.nav_list {
 		display: none;
 	}
	.nav_btn {
		display: block;
	}
	.dropdown_content {
		display: none !important;
	}
	.nav_list {
		width: 100%;
		float: right;
		li {
			width: 100%;
			display: block;
			a {
				padding: 15px 10px !important;
				border-bottom: 1px solid #f1f1f1;
			}
		}
	}	
}